.mention-text-area {
    max-width: 50%;
    margin: 0 auto;
}

.mention-text-area__content {
    min-height: 10rem;
    border: 1px solid #BD1C2B;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

.mention-text-area__list {

}
