.comments-widget-users-dropdown__list-item {
    padding: .5rem;
    cursor: pointer;
}

.comments-widget-users-dropdown__list-item:hover {
    background-color: #BD1C2B;
    color: white;
}

.comments-widget-users-dropdown__list-item--highlight {
    font-weight: bold;
}

:not(:hover) .comments-widget-users-dropdown__list-item--highlight {
    color: #BD1C2B;
}

.comments-widget-users-dropdown__list-avatar-img {
    vertical-align: middle;
    margin-right: .5rem;
    max-width: 2.5rem;
}
